@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap');

body{
    background-color: #B5BF5A;
    
}

#top{
    background-color: #A9B34D;
    margin-top: -1.5em;
    margin-bottom: -2em;

}

#title-name-two, #title-name{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #854CB2;
}

#title-name-two{
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: -3.6em;
    color: #854CB2;
    line-height: 0.87;
}

#title-name{
    font-weight: 400;
    font-size: 4em;
}

.social-media-icons{
    width: 50px;
    padding: 5px;
}

#social-media-icons-id{
    display: flex;
    justify-content: center;
    margin-top: -1em;
}

.titles{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #854CB2;
}

hr{
    width: 700px;
    color: #854CB2;
}

.projects{
    display: grid;
    justify-content: center;
    margin-top: -3em;
}

.image-projects{
    width: 500px;
    padding: 3em;
    margin: 0 auto;
}

.desc-projects{
    text-align: center;
    margin: 0 auto;
    margin-top: -1em;
    font-family: 'Noto Serif Makasar', serif;
    width: 500px;
}

.title-projects{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: -2em;
    color: #854CB2;
    font-size: 20px;
}